{% extends "base.html" %}

{% block app_content %}
    <h1>Explore some courses!</h1>
    {% for course in courses %}
    <table class="table table-hover">
        <tr>
            <td width="20px">
                <h3>{{course.title}}</h3>
                <p>{{course.body|truncate(50, True)}}</p>
                <form action="/add_course/{{course.title}}" method="post">
                    <input type="hidden" value="{{course.title}}">
                    <button type="submit">Add</button>
                </form>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}