{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <p>This is your personalized dashboard. Find new courses to add and learn from on the Explore tab. After you have finished your course, you can leave the </p>
    {% for course in current_user.courses %}
    <table class="table table-hover">
        <tr>
            <td width="20px">
                <form method="POST">
                    <h3>{{ course.title }}</h3>
                    {{ course.body }}
                    <br>
                    <br>
                        <input type="submit" class="btn btn-danger" name="course" value="Remove {{ course.title }}">
                </form>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}